body{
  overflow-x: hidden;
}

.header-blue{
  background:linear-gradient(150deg, #FC5C7D, #6A82FB);
  width:100%;
  height: 100%;
  background-color:#184e8e;
  padding-bottom:120px;
  font-family:'Source Sans Pro', sans-serif;
}

.header-blue .navbar{
  background:transparent;
  padding-top:0px;
  padding-bottom:0px;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
}

@media (max-width:767px) {
  .header-blue .navbar{
    padding-top:0px;
    padding-bottom:0px;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-header{
    padding-top:10px;
    padding-bottom:10px;
  }
}

@media (max-width:767px) {
  p.header-blue.navbar.navbar-right{
    margin-top:0px;
    margin-bottom:0px;
  }
}

.header-blue .navbar .navbar-brand{
  font-weight:bold;
  color:inherit;
}

.header-blue .navbar .navbar-brand:hover{
  color:#f0f0f0;
}

.header-blue .navbar .navbar-brand img{
  height:300%;
  display:inline-block;
  margin-right:10px;
  width:auto;
}

.header-blue .navbar .navbar p{
  margin-top:30px;
  margin-bottom:0px;
}


.header-blue .navbar .navbar p .login{
  color:#d9d9d9;
  margin-right:10px;
  text-decoration:none;
}

.header-blue .navbar .navbar p .login:hover{
  color:#fff;
}

.header-blue .navbar .navbar-toggle{
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-toggle:hover, .header-blue .navbar-toggle:focus{
  background:none;
}

.header-blue .navbar .navbar-toggle .icon-bar{
  background-color:#eee;
}

.header-blue .navbar .navbar, .header-blue .navbar .navbar-form{
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-nav > .active > a, .header-blue .navbar .navbar-nav > .open > a{
  background:none;
  box-shadow:none;
}

.header-blue .navbar.navbar-default .navbar-nav > .active > a, .header-blue .navbar.navbar-default .navbar-nav > .active > a:focus, .header-blue .navbar.navbar-default .navbar-nav > .active > a:hover{
  color:rgba(255,255,255,0.3);
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.header-blue .navbar.navbar .navbar-nav > li > a{
  padding-left:18px;
  padding-right:18px;
}

.header-blue .navbar.navbar-default .navbar-nav > li > a{
  color:#d9d9d9;
}

.header-blue .navbar.navbar-default .navbar-nav > li > a:focus, .header-blue .navbar.navbar-default .navbar-nav > li > a:hover{
  color:#fcfeff !important;
  background-color:transparent;
}

.header-blue .navbar .navbar-nav > li > .dropdown-menu{
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

.header-blue .navbar .dropdown-menu > li > a:focus, .header-blue .navbar .dropdown-menu > li > a{
  line-height:2;
  font-size:14px;
  color:#37434d;
}

.header-blue .navbar .dropdown-menu > li > a:focus, .header-blue .navbar .dropdown-menu > li > a:hover{
  background:#ebeff1;
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-nav .open .dropdown-menu{
    box-shadow:none;
    background:none;
    color:#fff;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-nav .open .dropdown-menu > li > a{
    color:#fdfeff;
    padding-top:12px;
    padding-bottom:12px;
    line-height:1;
  }
}

.header-blue .action-button, .header-blue .action-button:active{
  border:2px solid rgba(255,255,255,0.7);
  border-radius:20px;
  color:#ffffff;
  box-shadow:none;
  text-shadow:none;
  padding:6px 15px;
  background:transparent;
  transition:background-color 0.25s;
  outline:none;
}

.header-blue .action-button:hover{
  color:#fff;
}

.header-blue .action-button.btn-lg{
  padding:7px 20px;
  margin-left: 0%;
  width: 200px;
  font-size: 25px;
}

.header-blue .navbar .navbar-form label{
  color:#ccc;
}

.header-blue .navbar .navbar-form .search-field{
  background:none;
  border:none;
  border-bottom:1px solid transparent;
  border-radius:0;
  color:#ccc;
  box-shadow:none;
  color:inherit;
  transition:border-bottom-color 0.3s;
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-form .search-field{
    display:inline-block;
    width:80%;
  }
}

.header-blue .navbar .navbar-form .search-field:focus{
  border-bottom:1px solid #ccc;
}

.header-blue .hero{
  margin-top:60px;
}

@media (max-width:767px) {
  .header-blue .hero{
    margin-top:20px;
    text-align:center;
  }
}

.header-blue .hero h1{
  color:#fff;
  font-size:40px;
  margin-top:190px;
  margin-bottom:24px;  
}

@media (max-width:991px) {
  .header-blue .hero h1{
    margin-top:0;
    margin-bottom:15px;
    line-height:1.4;
  }
}

.header-blue .hero p{
  color:rgba(255,255,255,0.8);
  font-size:20px;
  margin-bottom:30px;
  font-weight:300;
}

.header-blue .phone-holder{
  text-align:right;
}

.header-blue div.iphone-mockup{
  position:relative;
  max-width:380px;
  margin:20px;
  display:inline-block;
}

.header-blue .iphone-mockup img.device{
  width:100%;
  height:auto;
}
.parceiros{
  text-align: center;
  height: 350px;
  background: #6A82FB;
}
.parceiros h2{
  color: #ffffff;
}

.footer-bottom {
  background: #34407B;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}
.cao{
  padding-bottom: 30px;
  padding-top: 30px; 
}
.cao img{
  width: 50%;  
}
.descricao {
  padding-top: 30px;
}
.descricao p{
  font-size: 45px;
  font-weight: 200;
  color: #401934;  
}
.conteudo_modal h2{
  color: #95989A;
  padding-left: 20px;
}
#inputUser{
  width: 60%;
  border-radius: 20px;  
}

input#inputUser.form-control{
 margin-left: 30px;   
}
#inputSenha{
  width: 60%;
  border-radius: 20px;  
}

input#inputSenha.form-control{
  margin-left: 30px;  
}
button#btn_entrar{
  border-radius: 20px;
  width: 90px;
  background:linear-gradient(-180deg, #F15F79, #B24592);
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#linkCadastrar{
  color: #95989A;
  padding-bottom: 5px; 
}
@media (max-width: 480px) {
  #linkCadastrar{
  padding-bottom: 0px; 
}
}
#linkCadastrar a{
  color: #BF4A8C;
  font-style: italic;
}
div.modal-content.conteudo_modalEntrar{
  width: 70%;
  height: auto;
  border-radius: 25px;
  margin-left: 100px;  
  padding: 0cm 2cm 0cm 2cm;
  color: black;
}
@media (max-width: 480px) {
  div.modal-content.conteudo_modalEntrar{
    margin-left: 50px;
    margin-top: 80px;
    height: 70%;
  }
}
div.modal-content.conteudo_modalCadastrar{
  width: 80%;
  height: auto;
  border-radius: 25px;
  margin-left: 100px;  
  padding: 0cm 2cm 0cm 2cm;
  color: black;
}
/*mobile*/
@media (max-width: 480px) {
  div.modal-content.conteudo_modalCadastrar{
    margin-left: 50px;
    margin-top: 20px;
  }
}
div.modal-content.conteudo_modalCadastrar p {
 font-size:14px;
 color: #aaa9a9;
}

input{
  width:120px;
  border-radius: 20px;
  border : 1px #888 solid;
}
label{
  color :#888888;
  font-size: 18px;
}
div.modal-content.conteudo_modalEntrar h2 {
    color: #95989A;
    text-align: center;
    font-size: 30px;
}
div.modal-content.conteudo_modalCadastrar h2 {
    color: #95989A;
    text-align: center;
    font-size: 30px;
}

#myCarousel .nav a small{
    display: block;
}
#myCarousel .nav{  
  background: #eee;
}
#myCarousel .nav >li>a{  
  font-size: 18px;
  background: #ffffff;
  color: #F15F79;
  border:1px #BF4A8C solid;
}
#myCarousel .nav a:hover{  
  background: #BF4A8C;
  color: #fff;
}
.nav-justified > li > a{
    border-radius: 2px;
}


.panel-heading:hover {
    cursor:pointer;
}
.panel-heading {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;     
}

.side-tab:hover {
        cursor: pointer;
    }
    .panel.panel-default {
        border: none;
        box-shadow: none !important;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        
    }
    /*#F15F79, #B24592*/
    .panel-heading {
        border: none;
        background-color: #B24592;
        color: #fff;
    }
    .panel-body {
        background-color: #f5f5f5;
        font-size: 16px;
    }
    .panel-title {
        font-weight: 400;
        color: $white;
    }
    div.col-md-4{
      margin-top: 80px;
    }
/*----------------------------------
    Macbook pro mockup from:
    http://jaredhardy.com/minimal-devices/
    
----------------------------------*/

.md-macbook-pro {
  display: block;
  width: 55.3125em;
  height: 31.875em;
  font-size: 13px;
  margin: 0 auto;

  @media (max-width:1199px){
    font-size: 11px;
  }
  @media (max-width:1024px){
    font-size: 10px;
  }

  @media (max-width:767px){
    font-size: 7px;
  }

  @media (max-width:320px){
    font-size: 5px;
  }

}
.md-macbook-pro .md-lid {
  width: 45em;
  height: 30.625em;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  border-radius: 1.875em;
  border: solid 0.1875em #cdced1;
  background: #131313;
}
.md-macbook-pro .md-camera {
  width: 0.375em;
  height: 0.375em;
  margin: 0 auto;
  position: relative;
  top: 1.0625em;
  background: #000;
  border-radius: 100%;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.25);
}
.md-macbook-pro .md-camera:after {
  content: "";
  display: block;
  width: 0.125em;
  height: 0.125em;
  position: absolute;
  left: 0.125em;
  top: 0.0625em;
  background: #353542;
  border-radius: 100%;
}
.md-macbook-pro .md-screen {
  width: 42.25em;
  height: 26.375em;
  margin: 0 auto;
  position: relative;
  top: 2.0625em;
  background: #1d1d1d;
  background: #fff;
  overflow: hidden;
}
.md-macbook-pro .md-screen img {
  width: 100%;
}
.md-macbook-pro .md-base {
  width: 100%;
  height: 0.9375em;
  position: relative;
  top: -0.75em;
  background: #c6c7ca;
}
.md-macbook-pro .md-base:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.5em;
  margin: 0 auto;
  position: relative;
  bottom: -0.1875em;
  background: #b9babe;
  border-radius: 0 0 1.25em 1.25em;
}
.md-macbook-pro .md-base:before {
  content: "";
  display: block;
  width: 7.6875em;
  height: 0.625em;
  margin: 0 auto;
  position: relative;
  background: #a6a8ad;
  border-radius: 0 0 0.625em 0.625em;
}
.md-macbook-pro.md-glare .md-lid:after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 1.25em 0 0;
  background: -webkit-linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: -moz-linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: -o-linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: linear-gradient(53deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
}
.hr{
  background-color:#F15F79;
  border:none;
  height: 3px;
  width: 10%;
  border-radius: 50px;
}
.glyphicon{
  color:#fff;
  text-align:center;
  
}
.panel.bp{
  margin-bottom: 0px;
  
}
.top-bar {
  background: #FC5C7D;
  color: white;
  padding: 10px; 
  position: relative; 
  overflow: hidden; 
  padding-right:5px;
  border:none;
}
@media (max-width: 480px) {
  .panel.bp{
  /*margin-bottom: 0px;*/
  width:40px;
  }
  div.mais{
    /*text-align: center;*/
    padding-left:2px;
  }
}
.box-position{
  position: fixed;bottom: 0; width: 100%;
}
div.form-group.botaoenviar input{
  border-color: #FC5C7D;
}  

div.cadastrocao {
    left: 50%;
    transform: translate(-50%, 0%);

    width: 500px;
    height: auto;
    
    font-size: 1em;
    overflow: hidden;
    margin-top: 15px;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0px 0px 14px #888;
    border-radius: 7px;
}
@media(max-width: 480px) {
  
  div.cadastrocao {
    margin:20px;
    width: 90%;
  height: auto;
  border-radius: 25px;
    font-size: 1em;
    overflow: hidden;
    margin-top: 15px;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0px 0px 14px #888;
    border-radius: 7px;
}

}
.titulo-cadastrocao{
   color:#FC5C7D;
   font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.line{
  border-color: #FC5C7D;  
  width:87%;
}
@media (max-width:767px) {
  #btn_login{
    margin-left: 70%;
    margin-top:0px;
  }
}
