{% extends "doglove.html" %}
{% load static %}

{% block content %}
    <center>
        <div class="card">
            <img src="{% static 'img/blankdog.png' %}" class="card-img-top" id="fotoperfil" style="margin-bottom: 20px">
            <p style="font-size: 22px; color: #F15F79; font-family: 'Roboto', sans-serif; font-weight: 700;">
                Cadastre as informações do seu cachorro na página <a href="http://doglovetest-tiagobarros.c9users.io:8080/doglove/meupet">Meu Pet</a> para começar a usar o DogLove
            </p>
        </div>
        <br>
    </center>
{% endblock %}