{% extends "doglove.html" %}
{% load static %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <div class="container menu_settings">
      <h2>Configurações <i class="fa fa-cog" aria-hidden="true"></i></h2>
      
      <div class="row meuperfil">
        <img src="{{ request.user.pet.foto.url }}" alt="User Image" class="img-circle">
        <h4>{{ perfil_exibido.pet.nome }}, {{ perfil_exibido.pet.idade }} anos</h4>
        <h5>{{ user.username }}</h5>
      </div>  
      
      <a>
      <div class="row btn_perfil">
        <div class="col-md-6 col-xs-6">
          <span class="fa-stack fa-lg fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        </a>
        
        <a href="meupet">
        <div class="col-md-6 col-xs-6">
          <span class="fa-stack fa-lg fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-paw fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        </a>
        
      </div>
      <hr class="division">
      <div class="row filtro">
        <h3>Filtrar <i class="fa fa-sliders" aria-hidden="true"></i></h3>
      </div>
      <hr class="division">
      <div class="row settings">
        <h3>Meus dados <i class="fa fa-map-marker" aria-hidden="true"></i></h3>
        <center>
  <form method="post">
      {% csrf_token %} <br><br>
      {% for field in form %}
        <p style ="color:black" class = "text-center">
          {{ field.label_tag }}<br>
          {{ field }}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %} <br>
          {{ field.help_text }}
        </p>
      {% endfor %}
      <button type="submit" class="btn btn-default" id="btn_entrar">Enviar</button><br><br></center>
  </form>
      </div>
    </div>
  
{% endblock %}