{% extends "doglove.html" %}
{% load static %}

{% block content %}
    <center>
        <div class="card" style="padding: 20px">
            <img src="{% static 'img/lostdog.png' %}" class="card-img-top" id="fotoperfil" style="margin-bottom: 20px; width: 75%; height: 100%;">
            <p style="font-size: 22px; color: #F15F79; font-family: 'Roboto', sans-serif; font-weight: 700;">
                Cadastre seu endereço na página de <a href="http://doglovetest-tiagobarros.c9users.io:8080/doglove/configuracoes">Configurações</a> para encontrar o parceiro mais perto do seu pet 
            </p>
        </div>
        <br>
    </center>
{% endblock %}