{% load static %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DogLove</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo_icon.png' %}"/> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/msg.js' %}">
    {% block script %}{% endblock %}
</head>

<body>
    <div>
        <div class="header-blue">
            <nav class="navbar navbar-default navigation-clean-search">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand navbar-link" href="#">
                            <img src="{% static 'img/DL_logo.png' %}" class="device">
                        </a>
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#login"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="login">         
                        <p class="navbar-text navbar-right">
                            <a class="btn btn-default action-button" data-toggle="modal" data-target=".login" role="button" href="#" style="font-size: 18px;">Entrar</a>
                            
                            <!--inicio modal de login-->
                            <div class="modal fade login" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalLogin">
                              <div class="modal-dialog modal-md" role="document">
                                <div class="modal-content conteudo_modalEntrar">
                                  <!--conteudo modal-->
                                  <form method="post">
                                    {% csrf_token %}
                                    <h2>Login</h2>
                                    <hr>
                                    {% for field in form2 %}
                                      <p style ="color:black" class = "text-center">
                                        {{ field.label_tag }}<br>
                                        {{ field }}
                                        {% for error in field.errors %}
                                          <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                      </p>
                                    {% endfor %}
                                    <br>
                                    <center>
                                        <button type="submit" class="btn btn-default" style = "align:center" id="btn_entrar">Login</button>
                                        </center>
                                        
                                        <p class="text-center" id="linkCadastrar">Ainda não tem uma conta?<a href="">Cadastre-se</a></p>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!--Fim modal-->    
                        </p>
                    </div>
                </div>
            </nav>
            <div class="container hero">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-0 col-md-5 col-md-offset-1 hidden-xs hidden-sm phone-holder">
                        
                        <div class="iphone-mockup">
                            <img src="{% static 'img/cachorro.png' %}" class="device" usemap="#tutorialmap">
                            <map name="tutorialmap">
                                <area shape="rect" coords="100,459,382,515," alt="" href="#services">
                                </area>
                            </map>
                            <div class="screen"></div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
                        <h1>Encontre o pretendente ideal para o seu cachorro.</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu pretium lorem. Pellentesque scelerisque sed magna in accumsan. Donec in neque ut ligula consectetur laoreet.</p>
                        <button class="btn btn-default btn-lg action-button" type="button" style="background-color:#ffffff;color:#6A82FB;border-radius:30px;" data-toggle="modal" data-target=".cadastro" role="button">Começar</button>
                        
                            <!--inicio modal-->
                            <div class="modal fade cadastro" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modalCadastro">
                              <div class="modal-dialog modal-md" role="document">
                                <div class="modal-content conteudo_modalCadastrar">
                                   <!--conteudo modal-->
                                   
                                    <form method="post">
                                    {% csrf_token %}
                                    <h2>Cadastro</h2>
                                    <hr>
                                    {% for field in form %}
                                      <p class="text-center">
                                        {{ field.label_tag }}<br>
                                        {{ field }}<br>
                                        {{ field.help_text }}
                                        {% for error in field.errors %}
                                          <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                      </p>
                                    {% endfor %}
                                   
                                    <button type="submit" class="btn btn-default" style="margin-left:120px" id="btn_entrar">Enviar</button><br><br>
                                       
                                    </form>
                                    <!-- fim do conteudo -->
                                </div>
                              </div>
                            </div>
                            <!--Fim modal-->   
                    </div>
                </div>
            </div>
        </div>

    <div class="container hidden-xs hidden-sm carrossel">
        <h1 class="text-center">Funcionalidades</h1>
        <hr class="hr">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'img/img1.png' %}">
                <div class="carousel-caption">
                    <h3>
                        Headline</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem
                        ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                </div>
            </div>
            <!-- End Item -->
            <div class="item">
                <img src="{% static 'img/img3.png' %}">
                <div class="carousel-caption">
                    <h3>Headline</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem
                        ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                </div>
            </div>
            <!-- End Item -->
            <div class="item">
                <img src="{% static 'img/img2.png' %}">
                <div class="carousel-caption">
                    <h3>
                        Headline</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem
                        ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                </div>
            </div>
            <!-- End Item -->            
        </div>
        <!-- End Carousel Inner -->
        <ul class="nav nav-pills nav-justified">
            <li data-target="#myCarousel" data-slide-to="0" class=""><a href="#">Filtre a sua busca</a></li>
            <li data-target="#myCarousel" data-slide-to="1"><a href="#">Encotre o pretendente ideal</a></li>
            <li data-target="#myCarousel" data-slide-to="2"><a href="#">Avalie o encontro</a></li>
        </ul>
    </div>
    <!-- End Carousel -->
</div>
    
    <div class="container hidden-xs hidden-sm" id="services">
        <h1 class="text-center">Nosso Sistema</h1>
        <hr class="hr">
            <div class="row">
                <div class="col-md-4">
            <!-- begin panel group -->
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                
                <!-- panel 1 -->
                <div class="panel panel-default">
                    <!--wrap panel heading in span to trigger image change as well as collapse -->
                    <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingOne"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">Simplicidade</h4>
                        </div>
                    </span>
                    
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                        <!-- Tab content goes here -->
                        Use o sistema sem qualquer dificuldade... 
                        </div>
                    </div>
                </div> 
                <!-- / panel 1 -->
                
                <!-- panel 2 -->
                <div class="panel panel-default">
                    <!--wrap panel heading in span to trigger image change as well as collapse -->
                    <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h4 class="panel-title collapsed">Layout Responsivo</h4>
                        </div>
                    </span>

                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                        <!-- Tab content goes here -->
                        Layout responsivo, possibilitando o bom uso do sistema em qualquer plataforma.
                        </div>
                    </div>
                </div>
                <!-- / panel 2 -->
                
                <!--  panel 3 -->
                <div class="panel panel-default">
                    <!--wrap panel heading in span to trigger image change as well as collapse -->
                    <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
                        <div class="panel-heading" role="tab" id="headingThree"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h4 class="panel-title">Legibilidade</h4>
                        </div>
                    </span>

                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                          <div class="panel-body">
                          <!-- tab content goes here -->Design muito agradável, com um esquema de cores coerente que equilibra a identidade visual do sistema.                          
                          </div>
                        </div>
                      </div>
            </div> <!-- / panel-group -->
             
        </div> <!-- /col-md-4 -->
        
        <div class="col-md-8">
            <!-- begin macbook pro mockup -->
            <div class="md-macbook-pro md-glare">
                <div class="md-lid">
                    <div class="md-camera"></div>
                    <div class="md-screen">
                    <!-- content goes here -->                
                        <div class="tab-featured-image">
                            <div class="tab-content">
                                <div class="tab-pane  in active" id="tab1">
                                        <img src="{% static 'img/img4.png' %}" alt="tab1" class="img img-responsive">
                                </div>
                                <div class="tab-pane " id="tab2">
                                    
                                        <img src="{% static 'img/mobile.png' %}">
                                    
                                </div>
                                <div class="tab-pane fade" id="tab3">
                                    
                                        <img src="{% static 'img/img5.png' %}" alt="tab1" class="img img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-base"></div>
            </div> <!-- end macbook pro mockup -->



            </div> <!-- / .col-md-8 -->
        </div> <!--/ .row -->
    </div> <!-- end sidetab container -->
</section>

    <div class="row hidden-xs hidden-sm parceiros">
        <h1 class="text-center">Parceiros</h1>
        <hr class="hr">
        <div class="col-lg-4">
          <img class="img-circle" src="https://clinicsense.com/uploads/images/2015/02/03/partnership.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Heading</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://clinicsense.com/uploads/images/2015/02/03/partnership.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Heading</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://clinicsense.com/uploads/images/2015/02/03/partnership.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Heading</h2>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
                    

    
<section class="box-position">
<div class="container">
        <div class="col-xs-12 col-md-3 col-sm-4 pull-right">

             <!-- Message box title    --> 
            <div class="panel bp">
               <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#message" aria-expanded="false" aria-controls="message">
                <div class="panel-heading top-bar" role="tab" id="open-message">
                    
                    <div class="col-md-10 col-xs-10 hidden-xs">
                        <p class="panel-title"><span class="glyphicon glyphicon-comment"></span> Fale conosco</p>
                    </div>
                            
                    <div class="col-md-2 col-xs-2 mais">
                        
                        <span class="glyphicon  glyphicon-plus"></span>
                        
                    </div>
                            
                </div>
                </a>
            </div>
                
             <!-- Message body	--> 
             
                <div id="message" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <form  action="#">
                        
                            <div class="form-group ">
                              <input type="text" class="form-control" id="name" placeholder="Nome" required="required">
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control" id="subject" placeholder="Assunto" required="required">
                            </div>
                            <div class="form-group">
                              <input type="email" class="form-control" id="email" placeholder="Email" required="required">
                            </div>
                            <div class="form-group">
                              <textarea type="text" class="form-control" id="message" placeholder="Menssagem..." required="required"></textarea>
                            </div>
                            
                             <div class="form-group botaoenviar">
                              <input type="submit" class="form-control btn" id="submit" value="Enviar">
                            </div>
                            
                        </form>
                    </div>
                </div>
                
        </div>
</div>

</section>   

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Footer E-commerce Plugin 2014. All right reserved. </p>            
        </div>
    </div>
        <!-- /.footer-bottom-->

</div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>

