{% extends "doglove.html" %}
{% load static %}

{% block content %}
    <center>
        
        <div class="container">
            
            <div class="row aviso">
                <img src="{{ request.user.pet.foto.url }}" alt="User Image" class="img-circle" id="nao_encontrado">
                <h2>Nenhuma combinação encontrada :/</h2>
                <p>Altere as opções de busca e tente novamente. <a href="configuracoes"><i class="fa fa-2x fa-sliders" aria-hidden="true"></i></a></p>
            </div>
            
        </div>
    </center> 
{% endblock %}