{% extends "doglove.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
<form method="post" enctype="multipart/form-data">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>

  <div class=" col-md-10 col-xs-12 cadastrocao" style="margin-bottom: 20px;">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <center>
      <h2 class="titulo-cadastrocao">Meu pet</h2>
      <hr class="line">
           <p style ="color:black">
        {{ form.nome.label_tag }} <br>
        {{ form.nome }} <br><br>
        {{ form.porte.label_tag }} <br>
        {{ form.porte }} <br><br>
        {{ form.raca.label_tag }} <br>
        {{ form.raca }} <br><br>
        {{ form.idade.label_tag }} <br>
        {{ form.idade }} <br><br>
        {{ form.sexo.label_tag }} <br>
        {{ form.sexo }} <br><br>
        <img src="{{ request.user.pet.foto.url }}" style="width: 200px; height: 200px; border-radius: 20px;"> <br><br>
        {{ form.foto }} <br><br>
        {{ form.bio.label_tag }} <br>
        {{ form.bio }} <br><br>
      </p>
      <button type="submit" class="btn btn-default" id="btn_entrar">Enviar</button><br><br>
    </center>                    
    </form>
  </div>
</div>
</div>
{% endblock %}