{% extends "doglove.html" %}
{% load static %}

{% block content %}
{% for usuario,match in lista %}
    <center>
        <div class="card" style="width: 55%">
            <a href="#bio{{usuario.username}}" data-toggle="collapse"><img src="{{ usuario.pet.foto.url }}" class="card-img-top" id="fotoperfil"></a>
            <div class="card-block">
                <h1 id='chat'>{{ usuario.pet.nome }} - dono: {{ usuario.username }}</h1>
                <div class="meta">
                    <h4>{{ usuario.pet.get_raca_display }} - {{ usuario.pet.idade }} anos -  {{ match.distancia|floatformat:2 }} km</h4>
                </div>                        
            </div>
            <div class="card-footer">
                <div id="bio{{usuario.username}}" class="collapse">
                    <h4>{{ usuario.pet.bio }}</h4>
                </div>
            </div>
            <div id='chat' style ="float:left">
                Conversar ({{match.naoVistas}}) <br>
                <a href="minhascombinacoes/{{usuario.username}}">
                    <img src="{% static 'img/chat.png' %}" style="margin-left: 50px; margin-right: 50px; width: 100px; height: 100px; margin-bottom: 20px;" >
                </a>
            </div>
            <div id='chat' >
                Cancelar Combinação <br>
                <a href="">
                    <img src="{% static 'img/cancelar.png' %}" style="margin-left: 50px; margin-right: 50px; width: 100px; height: 100px; margin-bottom: 20px;" >
                </a>
            </div>
        </div> <br>
    </center>
{% endfor %}
{% endblock %}