{% extends "doglove.html" %}
{% load static %}

{% block content %}
{% for usuario,match in lista %}
    <center>
        <div class="card">
            <a href="#bio{{usuario.username}}" data-toggle="collapse"><img src="{{ usuario.pet.foto.url }}" class="card-img-top" id="fotoperfil" style="margin-top: 5%; margin-bottom: 5%; border-radius:50px; border:3px solid black;"></a>
            <div class="card-block">
                <h1 id='chat'>{{ usuario.pet.nome }} - dono: {{ usuario.username }}</h1>
                <div class="meta">
                    <h4>{{ usuario.pet.get_raca_display }} - {{ usuario.pet.idade }} anos -  {{ match.distancia|floatformat:2 }} km</h4>
                </div>                        
            </div>
            <div class="card-footer">
                <div id="bio{{usuario.username}}" class="collapse">
                    <h4>{{ usuario.pet.bio }}</h4>
                </div>
            </div>
            <div>
                <div id='chat' style ="float:left; margin-left: 30px; ">
                    Conversar ({{match.naoVistas}}) <br>
                    <a href="minhascombinacoes/{{usuario.username}}">
                        <img src="{% static 'img/chat.png' %}" style="width: 100px; height: 100px; margin-bottom: 20px;" >
                    </a>
                </div>
                <div id='chat' style ="float:right; margin-right: 30px;" >
                    Cancelar Combinação <br>
                    <a href="cancelar/{{usuario.username}}">
                        <img src="{% static 'img/cancelar.png' %}" style=" width: 100px; height: 100px; margin-bottom: 20px;" >
                    </a>
                </div>
            </div>
        </div> <br>
    </center>
{% endfor %}
{% endblock %}