{% extends "doglove.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid cartaz">
        <center>
        <div class="row titulo">
            <h1>Procura-se</h1>
            <h4>pretendentes para <i>{{ user.username }}</i></h4>
            <hr class="dark">
        </div>
        <div class="row">
            <img src="{{ request.user.pet.foto.url }}" alt="User Image" class="img-responsive" id="img_cachorro"></img>
        </div>
        <div class="row">
            <h4>Altere as opções do <a>filtro</a> e tente novamente...</h4><br><br>
        </div>
        </center>
    </div>
{% endblock %}